@charset "UTF-8";
/* CSS Document */
	.ct1{
		height: 620px;
		text-align: center;
		margin-bottom: 20px;
	}
		.ct1 i{
				margin-left: 33%;
			}
		.ct11{
			float: left;
			margin:0 33px;
		}
		.ct2 div img{
				margin: 15px;
				float: left;
			}
			.ct2 div .img1{
					display: block;
				}
			.ct2 div .img2{
				display: block;
			}
		.ct3{
			height: 625px;
		}
			.ct33{
				display: block;
				margin-right: 76px;
				float: left;
				margin-left: 176px;
				margin-top: 88px;
			}
			.img3{
				float: left;
			}
		.ct5{
			height: 120px;
		}
		.ct6{
			margin-top: 36px;
		}
		.ct7{
			height: 599px;
			position: relative;
		}
		.ct7 i{
				position: absolute;
				left: 44%;
				top: 40%;
			}
			.ct71{
				margin-left: 27px;
				float: left;
				width: 368px;
				height: 191px;
				margin-top: 55px;
			}
		.bd1{
			float: left;
			margin-right: 127px;
		}
		.bd2{
			float: left;
			margin-right: 180px;
		}
		.bd3{
			margin-top: 400px;
		}